@model TMDT.Web.Models.System.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_main.cshtml";
}
<div class="cont span_2_of_3">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>QUÊN MẬT KHẨU</h4>
        <br />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="comments-area">
            <label>Email</label>
            @Html.TextBoxFor(m => m.Email)
            <label>Mật khẩu mới</label>
            @Html.PasswordFor(m => m.Password)
            <label>Xác nhận mật khẩu mới</label>
            @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-6 col-sm-3">
                    <input type="submit" class="btn-default1" value="Reset" />
                </div>
            </div>
            }
    <div class="clear"></div>
        </div>
<div class="clear"></div>

